notebooks/science/FoodBaseSemantics/foodbase/FoodBase_uncurated.xml filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/agricultural_acquisition.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/fndds_derivation.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/measure_unit.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/sample_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/fndds_ingredient_nutrient_value.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_nutrient.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_nutrient_conversion_factor.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_update_log_entry.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_attribute_type.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_calorie_conversion_factor.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_nutrient_derivation.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_protein_conversion_factor.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/sub_sample_result.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/survey_fndds_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/branded_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_portion.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/market_acquisition.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/nutrient.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/retention_factor.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/acquisition_sample.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_attribute.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_nutrient_source.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/lab_method.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/nutrient_incoming_name.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/sr_legacy_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/sub_sample_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/foundation_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/wweia_food_category.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_category.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/food_component.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/input_food.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/lab_method_code.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/lab_method_nutrient.csv filter=lfs diff=lfs merge=lfs -text
notebooks/science/USDAFoodDataCentral/data/all_downloaded_table_record_counts.csv filter=lfs diff=lfs merge=lfs -text
